/* Homepage */
.home__container {
  position: relative;
  margin-bottom: 2rem;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .products__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.empty__container {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
