/* Product card */
.card__container {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card__header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* Availability status span */
.card__header .availability {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  padding: 0.1rem 0.4rem;
  border-radius: 6px;
}

.card__header .availability.available {
  background-color: #caf3de;
}

.card__header .availability.not-available {
  background-color: #dee3e7;
}

.card__header .availability span.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.card__header .availability.available span.circle {
  background-color: var(--primary);
}

.card__header .availability.not-available span.circle {
  background-color: #4c5665;
}

.card__header .availability p {
  font-size: 0.8rem;
}

/* Product details layout */
.card__product-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 500px) {
  .card__product-details {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.card__product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
