/* new product form */
.form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form__container .form__content {
  max-height: 90vh;
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 16px;
}

.form__container .form__content::-webkit-scrollbar {
  width: 8px;
}

.form__container .form__content::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

.form__container .form__content::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

/* Form Header */
.form__content .header {
  display: flex;
  justify-content: space-between;
}

/* Form validation error box */
.form__content > div.form__error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
}

/* Hide number input field arrows */
/* Hide number input spinner arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */

/* Form main action button */
.form__content > button {
  background: var(--primary);
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.form__content > button:hover {
  background: #137b5d;
}
